n8n-workflows/chatbot-workflow.json
{
  "name": "UMKM AI — Smart Chatbot (with Memory)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot-incoming",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "WA Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "chatbot-incoming"
    },
    {
      "parameters": {
        "jsCode": "// ================================================================\n// ⚙️  KONFIGURASI — Hanya edit node ini, sisanya otomatis\n// ================================================================\n\nconst BACKEND_URL            = 'https://your-backend.com';   // ← URL backend kamu\nconst CHATBOT_CONFIG_ID      = 1;                            // ← ID chatbot dari dashboard\nconst CHATBOT_WEBHOOK_SECRET = '';                           // ← Kosongkan jika tidak pakai\nconst WA_SENDER_URL          = '';                           // ← URL WA sender API (opsional)\nconst WA_SENDER_TOKEN        = '';                           // ← Token WA sender (opsional)\nconst FALLBACK_MSG           = 'Maaf, asisten kami sedang sibuk 🙏 Silakan coba lagi dalam beberapa saat atau hubungi admin kami.';\n\n// ================================================================\n// Jangan edit di bawah ini\n// ================================================================\nreturn [{\n  json: {\n    BACKEND_URL,\n    CHATBOT_CONFIG_ID,\n    CHATBOT_WEBHOOK_SECRET,\n    WA_SENDER_URL,\n    WA_SENDER_TOKEN,\n    FALLBACK_MSG\n  }\n}];"
      },
      "id": "config-setup",
      "name": "⚙️ Config Setup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "jsCode": "// Normalize payload dari berbagai WA gateway\n// Baileys, WA Business API, Fonnte, WaBlas, dll.\nconst body = $('WA Webhook Trigger').first().json.body ||\n             $('WA Webhook Trigger').first().json;\n\nconst waNumber  = body.from || body.sender || body.msisdn || body.phone || '';\nconst message   = body.message?.text || body.message?.conversation ||\n                  body.text || body.body || body.content || '';\nconst name      = body.pushName || body.name || body.sender_name || '';\nconst messageId = body.id || body.msgId || body.message?.id || '';\nconst isGroup   = waNumber.includes('@g.us') || body.isGroup === true;\nconst isMedia   = !!(body.message?.imageMessage || body.message?.videoMessage ||\n                  body.message?.documentMessage || body.type === 'image' ||\n                  body.type === 'video');\nconst fromSelf  = body.key?.fromMe === true || body.fromMe === true;\n\nreturn [{\n  json: {\n    wa_number:  waNumber,\n    message:    message,\n    name:       name,\n    message_id: messageId,\n    is_group:   isGroup,\n    is_media:   isMedia,\n    from_self:  fromSelf\n  }\n}];"
      },
      "id": "normalize-payload",
      "name": "Normalize Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "id": "has-message",
              "leftValue": "={{ $json.message }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            },
            {
              "id": "has-number",
              "leftValue": "={{ $json.wa_number }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            },
            {
              "id": "not-from-self",
              "leftValue": "={{ $json.from_self }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "notEquals" }
            },
            {
              "id": "not-group",
              "leftValue": "={{ $json.is_group }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "notEquals" }
            },
            {
              "id": "not-media",
              "leftValue": "={{ $json.is_media }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-valid",
      "name": "Valid Text Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [860, 300]
    },
    {
      "parameters": {
        "jsCode": "// Build payload chatbot — session_id unik per user\nconst cfg       = $('⚙️ Config Setup').first().json;\nconst waNumber  = $json.wa_number;\nconst configId  = cfg.CHATBOT_CONFIG_ID || 1;\nconst sessionId = `${configId}_${waNumber}`;\n\nreturn [{\n  json: {\n    config_id:        configId,\n    session_id:       sessionId,\n    message:          $json.message,\n    user_identifier:  waNumber,\n    user_name:        $json.name || '',\n    webhook_secret:   cfg.CHATBOT_WEBHOOK_SECRET || '',\n    _wa_number:       waNumber\n  }\n}];"
      },
      "id": "build-payload",
      "name": "Build Chatbot Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('⚙️ Config Setup').first().json.BACKEND_URL }}/api/chatbot/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"config_id\":        {{ $json.config_id }},\n  \"session_id\":       \"{{ $json.session_id }}\",\n  \"message\":          {{ JSON.stringify($json.message) }},\n  \"user_identifier\":  \"{{ $json.user_identifier }}\",\n  \"user_name\":        \"{{ $json.user_name }}\",\n  \"webhook_secret\":   \"{{ $json.webhook_secret }}\"\n}",
        "options": {
          "timeout": 30000,
          "response": { "response": { "neverError": true } }
        }
      },
      "id": "call-chatbot-api",
      "name": "Call Chatbot API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "id": "ai-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-success",
      "name": "AI Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1520, 200]
    },
    {
      "parameters": {
        "jsCode": "const buildNode = $('Build Chatbot Payload').first().json;\nconst cfg       = $('⚙️ Config Setup').first().json;\n\nreturn [{\n  json: {\n    wa_number:       buildNode._wa_number,\n    reply:           $json.reply || '',\n    session_id:      $json.session_id || '',\n    tokens_used:     $json.tokens_used || 0,\n    wa_sender_url:   cfg.WA_SENDER_URL || '',\n    wa_sender_token: cfg.WA_SENDER_TOKEN || '',\n    success:         true\n  }\n}];"
      },
      "id": "prepare-reply",
      "name": "Prepare Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1740, 120]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.wa_sender_url }}/send-message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "=Bearer {{ $json.wa_sender_token }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\":   \"{{ $json.wa_number }}\",\n  \"message\": {{ JSON.stringify($json.reply) }}\n}",
        "options": {
          "timeout": 15000,
          "response": { "response": { "neverError": true } }
        }
      },
      "id": "send-via-wa-api",
      "name": "Send via WA API (opsional)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1960, 120]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, reply: $('Prepare Reply').first().json.reply, session_id: $('Prepare Reply').first().json.session_id, tokens_used: $('Prepare Reply').first().json.tokens_used } }}",
        "options": { "responseCode": 200 }
      },
      "id": "respond-success",
      "name": "Respond with AI Reply",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2180, 120]
    },
    {
      "parameters": {
        "jsCode": "const buildNode = $('Build Chatbot Payload').first().json;\nconst cfg       = $('⚙️ Config Setup').first().json;\nconst errorMsg  = $json.error || $json.detail || 'unknown error';\n\nconsole.log('Chatbot AI failed:', errorMsg);\n\nreturn [{\n  json: {\n    wa_number:       buildNode._wa_number,\n    reply:           cfg.FALLBACK_MSG || 'Maaf, asisten kami sedang sibuk 🙏 Silakan coba lagi.',\n    wa_sender_url:   cfg.WA_SENDER_URL || '',\n    wa_sender_token: cfg.WA_SENDER_TOKEN || '',\n    error:           errorMsg,\n    success:         false\n  }\n}];"
      },
      "id": "prepare-fallback",
      "name": "Prepare Fallback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1740, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.wa_sender_url }}/send-message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "=Bearer {{ $json.wa_sender_token }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\":   \"{{ $json.wa_number }}\",\n  \"message\": {{ JSON.stringify($json.reply) }}\n}",
        "options": {
          "timeout": 15000,
          "response": { "response": { "neverError": true } }
        }
      },
      "id": "send-fallback-wa",
      "name": "Send Fallback via WA API (opsional)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1960, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"fallback\": true }",
        "options": { "responseCode": 200 }
      },
      "id": "respond-fallback",
      "name": "Respond Fallback",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2180, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"skipped\": true }",
        "options": { "responseCode": 200 }
      },
      "id": "respond-skip",
      "name": "Respond OK (Skip)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1080, 440]
    }
  ],
  "connections": {
    "WA Webhook Trigger": {
      "main": [[{ "node": "⚙️ Config Setup", "type": "main", "index": 0 }]]
    },
    "⚙️ Config Setup": {
      "main": [[{ "node": "Normalize Payload", "type": "main", "index": 0 }]]
    },
    "Normalize Payload": {
      "main": [[{ "node": "Valid Text Message?", "type": "main", "index": 0 }]]
    },
    "Valid Text Message?": {
      "main": [
        [{ "node": "Build Chatbot Payload", "type": "main", "index": 0 }],
        [{ "node": "Respond OK (Skip)", "type": "main", "index": 0 }]
      ]
    },
    "Build Chatbot Payload": {
      "main": [[{ "node": "Call Chatbot API", "type": "main", "index": 0 }]]
    },
    "Call Chatbot API": {
      "main": [[{ "node": "AI Success?", "type": "main", "index": 0 }]]
    },
    "AI Success?": {
      "main": [
        [{ "node": "Prepare Reply", "type": "main", "index": 0 }],
        [{ "node": "Prepare Fallback", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Reply": {
      "main": [[{ "node": "Send via WA API (opsional)", "type": "main", "index": 0 }]]
    },
    "Send via WA API (opsional)": {
      "main": [[{ "node": "Respond with AI Reply", "type": "main", "index": 0 }]]
    },
    "Prepare Fallback": {
      "main": [[{ "node": "Send Fallback via WA API (opsional)", "type": "main", "index": 0 }]]
    },
    "Send Fallback via WA API (opsional)": {
      "main": [[{ "node": "Respond Fallback", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  },
  "staticData": null,
  "tags": [
    { "name": "umkm-ai-suite" },
    { "name": "chatbot" }
  ],
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "umkm-ai-suite"
  }
}
